<a href="https://colab.research.google.com/github/Zeel-22/Trial/blob/main/202218025_Zeel_Gudhka_IDM_CP1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
weather_data = pd.read_csv('/content/the weather of 187 countries in 2020.csv')

In [3]:
weather_data.head(15)

,STATION,Country/Region,DATE,Year,Month,Day,PRCP,SNWD,TAVG,TMAX,...,LONGITUDE,ELEVATION,PRCP_ATTRIBUTES,TAVG_ATTRIBUTES,TMAX_ATTRIBUTES,TMIN_ATTRIBUTES,DAPR,MDPR,WESD,SNWD_ATTRIBUTES
0,TZ000063894,Comoros,2020-01-22,2020.0,1.0,22.0,10.9,NaN,27.6,30.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,TZ000063894,Comoros,2020-01-23,2020.0,1.0,23.0,0.0,NaN,26.7,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,TZ000063894,Comoros,2020-01-24,2020.0,1.0,24.0,9.4,NaN,27.9,30.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,TZ000063894,Comoros,2020-01-25,2020.0,1.0,25.0,0.3,NaN,27.9,30.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,TZ000063894,Comoros,2020-01-26,2020.0,1.0,26.0,0.0,NaN,28.2,31.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,TZ000063894,Comoros,2020-01-27,2020.0,1.0,27.0,NaN,NaN,27.9,32.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,TZ000063894,Comoros,2020-01-28,2020.0,1.0,28.0,8.9,NaN,27.6,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,TZ000063894,Comoros,2020-01-29,2020.0,1.0,29.0,5.1,NaN,28.6,32.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,TZ000063894,Comoros,2020-01-30,2020.0,1.0,30.0,0.0,NaN,28.4,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,TZ000063894,Comoros,2020-01-31,2020.0,1.0,31.0,NaN,NaN,26.3,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,TZ000063894,Comoros,2020-02-01,2020.0,2.0,1.0,NaN,NaN,26.1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,TZ000063894,Comoros,2020-02-02,2020.0,2.0,2.0,46.7,NaN,26.6,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,TZ000063894,Comoros,2020-02-03,2020.0,2.0,3.0,4.3,NaN,25.7,31.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,TZ000063894,Comoros,2020-02-04,2020.0,2.0,4.0,19.8,NaN,27.6,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,TZ000063894,Comoros,2020-02-05,2020.0,2.0,5.0,0.0,NaN,28.8,33.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
print(weather_data.columns)

Index(['STATION', 'Country/Region', 'DATE', 'Year', 'Month', 'Day', 'PRCP',
       'SNWD', 'TAVG', 'TMAX', 'TMIN', 'SNOW', 'LATITUDE', 'LONGITUDE',
       'ELEVATION', 'PRCP_ATTRIBUTES', 'TAVG_ATTRIBUTES', 'TMAX_ATTRIBUTES',
       'TMIN_ATTRIBUTES', 'DAPR', 'MDPR', 'WESD', 'SNWD_ATTRIBUTES'],
      dtype='object')

In [5]:
weather_data.shape

(1091779, 23)

In [6]:
weather_data.isnull().sum()

STATION                  1
Country/Region           1
DATE                     1
Year                     1
Month                    1
Day                      1
PRCP                322403
SNWD                854839
TAVG                267060
TMAX                405507
TMIN                377928
SNOW                986387
LATITUDE            989472
LONGITUDE           989472
ELEVATION           989472
PRCP_ATTRIBUTES    1085772
TAVG_ATTRIBUTES    1087929
TMAX_ATTRIBUTES    1086142
TMIN_ATTRIBUTES    1085905
DAPR               1090486
MDPR               1091698
WESD               1091777
SNWD_ATTRIBUTES    1091425
dtype: int64

In [7]:
columns_to_check = weather_data.columns
for col in columns_to_check:
    unique_values = weather_data[col].unique()
    if len(unique_values) <= 100:
        print(f"Unique values in column '{col}': {unique_values}")
        for value in unique_values:
            count = (weather_data[col] == value).sum()
            print(f"Count of '{value}': {count}")

Unique values in column 'Year': [2020.   nan]
Count of '2020.0': 1091778
Count of 'nan': 0
Unique values in column 'Month': [ 1.  2.  3.  4.  5.  6.  7. nan]
Count of '1.0': 58957
Count of '2.0': 168234
Count of '3.0': 180996
Count of '4.0': 172299
Count of '5.0': 179672
Count of '6.0': 174769
Count of '7.0': 156851
Count of 'nan': 0
Unique values in column 'Day': [22. 23. 24. 25. 26. 27. 28. 29. 30. 31.  1.  2.  3.  4.  5.  6.  7.  8.
  9. 10. 11. 12. 13. 14. 15. 16. 17. 18. 19. 20. 21. nan]
Count of '22.0': 40504
Count of '23.0': 40610
Count of '24.0': 40600
Count of '25.0': 40539
Count of '26.0': 40519
Count of '27.0': 40570
Count of '28.0': 34797
Count of '29.0': 34834
Count of '30.0': 28973
Count of '31.0': 17531
Count of '1.0': 34887
Count of '2.0': 34788
Count of '3.0': 34992
Count of '4.0': 34833
Count of '5.0': 34939
Count of '6.0': 34938
Count of '7.0': 34921
Count of '8.0': 34953
Count of '9.0': 34744
Count of '10.0': 34809
Count of '11.0': 34770
Count of '12.0': 34930
Count of '13.0': 34913
Count of '14.0': 34766
Count of '15.0': 34745
Count of '16.0': 34882
Count of '17.0': 34997
Count of '18.0': 34934
Count of '19.0': 34901
Count of '20.0': 35025
Count of '21.0': 34634
Count of 'nan': 0
Unique values in column 'PRCP_ATTRIBUTES': [nan ',,S' ',,E' 'B,,S']
Count of 'nan': 0
Count of ',,S': 374
Count of ',,E': 5449
Count of 'B,,S': 184
Unique values in column 'TAVG_ATTRIBUTES': [nan 'H,,S']
Count of 'nan': 0
Count of 'H,,S': 3850
Unique values in column 'TMAX_ATTRIBUTES': [nan ',,S' ',,E' ',I,S']
Count of 'nan': 0
Count of ',,S': 1876
Count of ',,E': 3760
Count of ',I,S': 1
Unique values in column 'TMIN_ATTRIBUTES': [nan ',,S' ',,E' ',I,S']
Count of 'nan': 0
Count of ',,S': 2113
Count of ',,E': 3760
Count of ',I,S': 1
Unique values in column 'DAPR': [nan 36.  2.  5.  3.  4. 23.  7.  8. 13. 50.  6. 18. 11. 59. 16. 10.  9.
 15. 37. 28. 12. 33. 29. 14. 27. 44. 17. 32. 21. 34. 24. 25. 35. 46. 26.
 61. 54. 19. 57. 60. 22. 20. 56. 30. 31.  1.]
Count of 'nan': 0
Count of '36.0': 1
Count of '2.0': 463
Count of '5.0': 81
Count of '3.0': 324
Count of '4.0': 139
Count of '23.0': 3
Count of '7.0': 51
Count of '8.0': 27
Count of '13.0': 9
Count of '50.0': 2
Count of '6.0': 43
Count of '18.0': 9
Count of '11.0': 15
Count of '59.0': 1
Count of '16.0': 4
Count of '10.0': 28
Count of '9.0': 16
Count of '15.0': 9
Count of '37.0': 3
Count of '28.0': 4
Count of '12.0': 6
Count of '33.0': 2
Count of '29.0': 1
Count of '14.0': 9
Count of '27.0': 2
Count of '44.0': 1
Count of '17.0': 8
Count of '32.0': 2
Count of '21.0': 1
Count of '34.0': 2
Count of '24.0': 3
Count of '25.0': 4
Count of '35.0': 1
Count of '46.0': 1
Count of '26.0': 1
Count of '61.0': 1
Count of '54.0': 2
Count of '19.0': 2
Count of '57.0': 1
Count of '60.0': 2
Count of '22.0': 1
Count of '20.0': 3
Count of '56.0': 2
Count of '30.0': 1
Count of '31.0': 1
Count of '1.0': 1
Unique values in column 'MDPR': [ nan 2.46 0.   0.18 0.15 0.08 0.19 1.63 1.51 0.53 0.68 1.59 0.02 5.
 0.05 2.12 0.64 0.3  2.06 2.93 4.05 0.01 8.   0.97 0.27 0.25 2.96 0.38
 0.61 1.62 1.13 0.39 0.6  2.39 0.23 2.32 3.05 4.08 1.12 9.24 1.94 2.56
 0.2  0.48 0.43 0.34 0.28 0.5  0.35]
Count of 'nan': 0
Count of '2.46': 1
Count of '0.0': 25
Count of '0.18': 1
Count of '0.15': 1
Count of '0.08': 2
Count of '0.19': 1
Count of '1.63': 2
Count of '1.51': 2
Count of '0.53': 1
Count of '0.68': 1
Count of '1.59': 1
Count of '0.02': 2
Count of '5.0': 1
Count of '0.05': 2
Count of '2.12': 1
Count of '0.64': 1
Count of '0.3': 3
Count of '2.06': 1
Count of '2.93': 1
Count of '4.05': 1
Count of '0.01': 1
Count of '8.0': 1
Count of '0.97': 1
Count of '0.27': 1
Count of '0.25': 1
Count of '2.96': 1
Count of '0.38': 1
Count of '0.61': 2
Count of '1.62': 1
Count of '1.13': 1
Count of '0.39': 1
Count of '0.6': 1
Count of '2.39': 1
Count of '0.23': 2
Count of '2.32': 1
Count of '3.05': 1
Count of '4.08': 1
Count of '1.12': 1
Count of '9.24': 1
Count of '1.94': 1
Count of '2.56': 1
Count of '0.2': 1
Count of '0.48': 1
Count of '0.43': 1
Count of '0.34': 1
Count of '0.28': 1
Count of '0.5': 1
Count of '0.35': 1
Unique values in column 'WESD': [nan 0.  0.1]
Count of 'nan': 0
Count of '0.0': 1
Count of '0.1': 1
Unique values in column 'SNWD_ATTRIBUTES': [nan ',,S' ',O,S' ',W,S' ',,E']
Count of 'nan': 0
Count of ',,S': 163
Count of ',O,S': 1
Count of ',W,S': 2
Count of ',,E': 188

In [8]:
!git version

git version 2.34.1

In [10]:
!git config --global user.email '202218025@daiict.ac.in'

!git config --global user.name 'Zeel-22'

In [12]:
!ls

 sample_data  'the weather of 187 countries in 2020.csv'

In [15]:
!git clone https://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@github.com/Zeel-22/Trial

Cloning into 'Trial'...
remote: Enumerating objects: 6, done.
remote: Counting objects: 100% (6/6), done.
remote: Compressing objects: 100% (4/4), done.
remote: Total 6 (delta 0), reused 0 (delta 0), pack-reused 0
Receiving objects: 100% (6/6), 2.59 MiB | 12.21 MiB/s, done.

In [16]:
%cd Trial

/content/Trial

In [17]:
!pwd

/content/Trial

In [18]:
!git status

On branch main
Your branch is up to date with 'origin/main'.

nothing to commit, working tree clean

In [19]:
!git add .

In [20]:
!git commit -m "Trail"

On branch main
Your branch is up to date with 'origin/main'.

nothing to commit, working tree clean

In [21]:
!git push

Everything up-to-date